<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/catways-reservations.css">
    <title>Liste des Catways</title>
</head>
<body>
  <%- include('partials/header2.ejs') %>
  <main>
    <!-- Bouton pour revenir au tableau de bord -->
    <a href="/tableau"><button class="retour">
      Retour au Tableau de bord
    </button></a>
      <!-- Formulaire pour créer un nouveau Catway -->
      <h1>Créer une nouvelle Catway</h1>
      <form action="/catways" method="POST" class="crea">
        <div>
            <label for="catwayNumber">Numéro : </label>
            <textarea type="text" id="catway" name="catwayNumber" required></textarea>
        </div>
        <div>
          <label for="type">Type : </label>
          <textarea type="text" id="catway" name="type" required></textarea>
        </div>
        <div>
          <label for="catwayState">État : </label>
          <textarea id="catway" name="catwayState"></textarea>
        </div>
        <div>
          <button type="submit" class="button">Créer Catway</button>
        </div>
      </form>
      <!-- Liste des Catways -->
      <h1>Liste des Catways</h1>
      <table>
        <thead>
          <tr>
            <th>Numéro</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (catways && catways.length > 0) { %>
          <% catways.forEach(catway => { %>
          <tr>
            <td><%= catway.catwayNumber %></td>
            <td><%= catway.type %></td>
            <td class="actions">
              <a href="/catways/<%= catway._id %>"><button class="button">Voir Les détails</button></a>
              <a href="/catways/<%= catway._id %>/reservations"><button class="button">Voir les réservations</button></a>
                <!-- Formulaire de suppression -->
                <form action="/catways/<%= catway._id %>?_method=DELETE" 
                      method="POST" 
                      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catway ?')">
                <button type="submit" class="button">Supprimer</button>
              </form>
            </td>
          </tr>
          <% }); %>
          <% } else { %>
          <tr>
            <td>Aucune Catway trouvée.</td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </main>

    <!-- Inclusion du script JS -->
    <script src="/javascript/catway_reservation.js"></script>

    <%- include('partials/footer.ejs') %>
</body>
</html>