<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/catways-reservations.css">
  <title>Réservation</title>
  
</head>
<body>
  <%- include('partials/header2.ejs') %>  
  <main>
    <a href="/catways/<%= catway._id %>/reservations"><button class="retour">
      Retour aux réservations du Catway
    </button></a>
    <h1>Détail de la réservation</h1>
    <table>
      <thead>
        <tr>
          <th>Loué le</th>
          <th>Retour</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= new Date(reservation.checkIn).toLocaleDateString('fr-FR') %></td>
          <td><%= new Date(reservation.checkOut).toLocaleDateString('fr-FR') %></td>
        </tr>
      </tbody>
    </table>
  </main>
  <!-- Inclusion du script JS -->
  <script src="/javascript/catway_reservation.js"></script>
  <%- include('partials/footer.ejs') %>
</body>
</html>